<div class="container">
  <div class="row">
    <div class="col-md-3">
      <h2>商品編集</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <%= form_with model: @item, url: admin_items_path, local: true do |f| %>
        <table>
          <tbody>
          <tr>
            <th><%= f.label :商品画像 %></th>
            <th><%= image_tag @item.image, width: '40%', height: '40%' %></th>
          </tr>
          <tr>
            <th><%= f.label :商品名 %></th>
            <td><%= f.text_field :name, placeholder:"商品名" %></td>
          </tr>
          <tr>
            <th><%= f.label :商品説明 %></th>
            <td><%= text_area :explanation, class: "form_control",rows: 30, placeholder:"ここに説明文を記述します" %></td>
          </tr>
          <tr>
            <th><%= f.label :ジャンル %></th>
            <td><%= f.collection_select :genre_id, Genre.all, :id, :name, :prompt => "--選択してください--" %></td>
          </tr>
          <tr>
            <th><%= f.label :税抜価格 %></th>
            <td><%= f.text_field :unit_price, placeholder:"1000" %>円</td>
          </tr>
          <tr>
            <th><%= f.label :販売ステータス %></th>
            <td>
              <%= f.radio_button :is_selling_status, true, checked: true %>
              <%= f.label :is_selling_status, "販売中" %>
              <%= f.radio_button :is_selling_status, false %>
              <%= f.label :is_selling_status, "販売停止中" %>
            </td>
          </tr>
          <tr>
            <th><%= link_to "変更を保存", admin_item_path(@item.id), class:"btn btn-success" %></th>
          </tr>
          </tbody>
        </table>
        <% end %>
    </div>
  </div>
</div>