<div class="container-fluid" style="background-image: url('<%= asset_path('大理石.jpg') %>');
background-size: cover; background-position: center center;height: 100vh;">
  
<div class="container">
  <div class="row">
    <div class="col-auto">
      <%= link_to raw('<i class="fas fa-plus"></i>'), new_admin_item_path, class: 'plus-button' %>
    </div>
  </div>

  <div class="row">
    <div class="col-md-3">
      <h2>商品一覧</h2>
    </div>
  </div>

  <div class="row">
    <div class="col-md-8">
      <table class="table">
        <thead>
          <tr>
            <th>商品ID</th>
            <th>商品名</th>
            <th>税抜き価格</th>
            <th>ジャンル</th>
            <th>ステータス</th>
          </tr>
        </thead>
        <tbody>
          <% @items.each do |item| %>
            <tr>
              <td><%= item.id %></td>
              <td><%= link_to item.name, admin_item_path(item.id) %></td>
              <td><%= item.unit_price %></td>
              <td><%= item.genre.name %></td>
              <td>
                <% if item.no_selling? %>
                  <%= Item.is_selling_statuses_i18n[:no_selling] %>
                <% elsif item.selling? %>
                  <%= Item.is_selling_statuses_i18n[:selling] %>
                <% end %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
</div>
