<div class="container">
  <div class="row">
    <div class="col-md-3">
    <%= render 'public/destinations/error', destination: @destination %>
    <h2 >配送先編集</h2>
    </div>
  </div>
    <%= form_with model:@destination, url:destination_path(@destination), local:true do |f| %>

      <div class="row">
          <div class="col-3">
            <%= f.label :"郵便番号（ハイフンなし）" %>
          </div>
          <div class="col-3">
            <%= f.text_field :postal_code, class:"w-100" %>
          </div>
      </div>

      <div class="row">
          <div class="col-3">
             <%= f.label :"住所" %>
          </div>
          <div class="col-3">
             <%= f.text_field :address, class: "w-100" %>
          </div>
      </div>

      <div class="row">
          <div class="col-3">
           <%= f.label :"宛名" %>
          </div>
          <div class="col-3">
           <%= f.text_field :name, class: "w-100" %>
          </div>
      </div>
</div>
      <div class="row">
        <div class="col-3"></div>
          <div class="col-3">
           <%= f.submit '変更内容を保存',class: "btn btn-success ml-3" %>
        <% end %>
      </div>
</div>