<div class="container-fluid" style="background-image: url('<%= asset_path('大理石.jpg') %>');
background-size: cover; background-position: center center;height: 100vh;">
<h1>配送先登録/一覧</h1>
<%= render 'public/destinations/error', destination: @destination %>
<%= form_with model: @destination do |form| %>
  <div>
    <%= form.label :postal_code, "郵便番号(ハイフンなし）" %>
    <%= form.text_field :postal_code %>
  </div>
  <div>
    <%= form.label :address, "住所" %>
    <%= form.text_field :address %>
  </div>
  <div>
    <%= form.label :name, "宛名" %>
    <%= form.text_field :name %>
  </div>
  <div>
    <%= form.submit "新規登録" %>
  </div>
<% end %>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>郵便番号</th>
      <th>住所</th>
      <th>宛名</th>
      <th></th>
    </tr>
  </thead>
  <% @destinations.each do |destination| %>
  <tr>
    <td><%= destination.postal_code %></td>
    <td><%= destination.address %></td>
    <td><%= destination.name %></td>
    <td>
      <%= link_to "編集する", edit_destination_path(destination.id), class:"btn btn-success" %>
      <%= link_to "削除する", destination_path(destination.id), method: :delete,class:"btn btn-danger" %>
    </td>
  </tr>
<% end %>
</table>
</div>

