<div class="container">
  <div class="row">
    <div class="col-md-10">
      <h2>注文情報入力</h2>
      <p><%= notice %></p>
      
      <%= form_with model: @order, local: true, url(orders_confirm_path), method: :post do |f| %>
      <div class="field row" style="margin-left:20px; ">
        <table>
          <tbody>
            <h4><strong>支払方法</strong></h4>
            <tr>
              <td>
                <%= f.radio_button :how_to_pay, 0, checked: "0" %>
                <%= f.label :how_to_pay, "クレジットカード" %>
              </td>
            </tr>
            <tr>
              <td>
                <%= f.radio_button :how_to_pay, 1, checked: "1" %>
                <%= f.label :how_to_pay, "銀行振込" %>
              </td>
              
            </tr>
            
            <h4><strong>お届け先</strong></h4>
            <tr>
              <td>
                <%= radio_button :「current_costmerの配送先urlを入れる」, 0, checked: "0" %>
                <%= f.label :"ご自身の住所" %>
              </td>
              <td>
                <%= current_costmer.postal_code %>,<%= current_costmer.address %></rb>
                <%= current_costmer.last_name%><%=current_costmer.first_name%>
              </td>
              
              <td>
                <%= radio_button :url , 1, checked: "1" %>
                <%= f.label :"登録済住所から選択" %>
              </td>
              <td>
                <%= f.collection_select(:address, current_costmer.address.all, :id, :address.all) %>
              </td>
              
              <td>
                <%= radio_button :url, 2, checked: "2" %>
                <%= f.label :"新しいお届け先" %>
              </td>
              <td>
                <%= f.label :"郵便番号（ハイフンなし）"%>
                <%= f.text_field :postal_code %>
              </td>
              <td>
                <%= f.label :"住所" %>
                <%= f.text_field :address, size: "60px" %>
              </td>
              <td>
                <%= f.label :"宛名" %>
                <%= f.rext_field :name %>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <%= f.submit "確認画面へ進む", class: "btn-btn-primary text_center" %>
      <% end %>
    </div>
  </div>
</div>