<div class="container">
  <div class="row">
    <div class="col-md-3">
　　　<h2>ログイン</h2>
　　</div>
  </div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
　<h4>会員の方はこちらからログイン</h4>
  <div class="field">
    <%= f.label :email, "メールアドレス" %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password, "パスワード" %><br />
    <%= f.password_field :password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "ログイン" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field">
      <%= f.label :remember_me, "会員登録がお済でない方" %>
    </div>
  <% end %>

<% end %>

<%= render "public/shared/links" %>
</div>