<div class="container">
  <div class="row">
    <div class="col-md-3">
      <%#= render 'admin/genres/genre_sidebar', genres: @genres %>
    </div>
    <div class="col-md-9">
      <h1 class="items-title">
        <% if params[:genre_id] %>
          <%= @genre.name %>
        <% else %>
          商品一覧
        <% end %>
      </h1>
      <strong> 全<%= @items.count %>件 </strong>
      <div class="items-list">
        <% @items.each do |item| %>
          <%# if item.is_selling_status == 1 %>
            <div class="items-list-item">
              <%= link_to item_path(item) do %>
                <%= image_tag item.get_items_image(100, 100) %><br>
              <% end %>
              <%= item.name %><br>
              ¥<%= (item.unit_price * 1.1).round.to_s(:delimited) %>
            </div>
          <%# end %>
        <% end %>
      </div>
      <%= paginate @items %>
    </div>
  </div>
</div>