<div class="container">
  <div class="row">
    <!--<div class="col-md-3">-->
      <%= render "public/shared/sidebar", genres: @genres  %>

    <div class="col-md-9">
      <div class="row">
        <div class="col-md-7">
          <div class="show-image">
			      <%= image_tag @item.get_items_image(100,100) %>
	        </div>
        </div>
        <div class="col-md-5">
	        <div class="show-content">
            <h2><%= @item.name %></h2><br>
            <p class="item-explanation"><%= @item.explanation %></p>
            <h3>¥<%= (@item.unit_price*1.1).round.to_s(:delimited) %><span>（税込）</span></h3>


        <% if customer_signed_in? %>
        <%= form_with model: @cart_item, url: cart_items_path, local: true do |f| %>
              <%= f.hidden_field :item_id, :value => @item.id %>
              <%= f.number_field :quantity , placeholder: "個数選択", min: 1, max: 50 %>
            	<%= f.submit 'カートに入れる', class: "btn-sm btn-primary" %>
            <% end %>
        <% end %>
          </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>